.toast {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid variables.$color-primary;
  background-color: variables.$color-secondary;
  border-radius: 12px;
  padding: 25px;
  top: 2%;
  left: 20px;
  right: 20px;
  margin: 0 auto;
  max-width: 400px;
  overflow: hidden;
  z-index: 11;

  &__title {
    color: variables.$color-secondary;
  }
  &__description {
    color: variables.$color-text-white;
  }
}
