// MIXINS
@mixin transition($duration: 250ms, $kind: linear) {
  -webkit-transition: all $duration $kind;
  -moz-transition: all $duration $kind;
  -o-transition: all $duration $kind;
  transition: all $duration $kind;
}

@mixin laptop($max-width: 1440px) {
  @media (max-width: $max-width) {
    @content;
  }
}

@mixin tablet($max-width: 768px) {
  @media (max-width: $max-width) {
    @content;
  }
}

@mixin mobile($max-width: 440px) {
  @media (max-width: $max-width) {
    @content;
  }
}
