$appWidth: 480px;
$color-white: #fff;
$color-primary: #7d00df;
$color-primary-shadow: rgba(125, 0, 223, 0.4);
$color-secondary: #db009d;
$color-secondary-shadow: rgb(219, 0, 157, 0.4);
$color-secondary-dark: #8f0067;
$color-light: #dcafff;
$color-background: #ffcff2;
$color-text-white: #fff;
$color-text-black: #000;
$color-grey1: #f2f2f2;
$color-grey2: #e6e6e6;
$color-grey3: #d9d9d9;
